*{
 padding: 0;
 margin: 0;
 border: 0;
}
*,*:before,*:after{
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
 height: 100%;
 width: 100%;
 font-size: 100%;
 line-height: 1;
 font-size: 14px;
 -ms-text-size-adjust: 100%;
 -moz-text-size-adjust: 100%;
 -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit; }

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
// -----------------------------
// -------------------------------
:root{
   // --title-color:#252B42;
   --link-color:#fff;
   --body-color:#F7F7F7;
   --hover-color:#FF6C00;
   --signature-color:#9DA4BD;
   --sociale-links:#303030;
   --prices-bg:#111319;
   --price-box-bg:#171A24;
   --price-box-color-dark:#090B13;
   
}
body{
   font-family: 'Open Sans', sans-serif;
   // font-family: 'Raleway', sans-serif;
}
header{
   
}
.__container{
   // border: 1px solid gray;
   width: 1180px;
   padding: 0px;
   margin:0px auto;
}
.__decor-line{
   position: relative;
}
.__decor-line:before{
   content: '';
   border: 1px solid var(--signature-color);
   left: -80px;
   top: 50%;
   width: 60px;
   margin-top: -1px;
   position: absolute;
   // background: orange;
}
.signature{
   margin-left: 80px;
   font-size: 11px;
   font-weight: 400;
   letter-spacing: 2px;
   text-transform: uppercase;
}
.title{
   font-family: 'Raleway', sans-serif;
   font-size: 42px;
   font-weight: bold;
   letter-spacing: 5%;
   line-height: 42px;
   margin: 30px 0px;
}
.subtitle{
   font-size: 18px;
   letter-spacing: 2%;
   line-height: 28px;
   margin-bottom: 30px;
}
.text p{
   font-size: 14px;
   font-weight: 300;
   letter-spacing: 2%;
   line-height: 28px;
}
// =======HEADER=========
.header{
   // border:1px solid red;
}
.header__row{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: stretch;
}
.slider{
   height: 680px;
   width: 100%;
   background: url(../img/header/1200/Slider1200.png);
}
.column{
   flex-grow: 1;
}
.social-panel{
   width: 130px;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: stretch;
   overflow: hidden;
}
.social-box{
   padding-bottom: 72px;
   width: 100%;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.social-box__logo{
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 30px;
}
.logo-gray{
   fill: var(--sociale-links);
   width: 70px;
   height: 70px;
}

div.social__links.__decor-line:before{
   border-color: var(--sociale-links);
}
.social__links{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 200px;
   bottom: 170px;
   // border: 1px solid hotpink;
   transform: rotate(-90deg);
}
.social__links a{
   transform: all .3s ease-in-out .0s;
   color: var(--sociale-links);
   font-size: 14px;
   font-weight: 500;
   margin: 0px 20px;
}
.social__links a:hover{
   color: var(--hover-color);
}
.icons-decor{}
.header__menu-top{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin-top: 40px;
   height: 40px;
   margin-bottom: 195px;
}
.menu{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   width: 500px;
   
}
.menu__items a{
   transition: all .3s ease-in-out .0s;
   font-size: 14px;
   font-weight: 500;
   color: var(--link-color);
}
.menu__items a:hover{
   color: var(--hover-color);
}
.header__contacts{
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   width:auto;
}
.contacts__items{
   color: var(--link-color);
   font-size: 14px;
   font-weight: 500;
   letter-spacing: 3px;
   margin-left: 40px;
}
.contacts__btn{
   // display: flex;
   // flex-direction: column;
   // justify-content: center;
   // align-items: center;

   
}
.btn{
   transition: all .3s ease-in-out .0s;
   border: 1px solid var(--hover-color);
   color: var(--link-color);
   font-size: 12px;
   font-weight: 500;
   text-transform: uppercase;
   height: 40px;
   border-radius: 20px;
   background: none;
   padding: 0px 12px;
}
.btn:hover{
   background: var(--hover-color);
}

// ---------- header slider -------
.slider__info{
   padding-left: 105px;
}
.slider__signature{
   color: var(--signature-color);
}
.slider__title{
   color: var(--link-color);
   font-size: 72px;
   font-weight: bold;
   font-family: 'Raleway', sans-serif;
   margin:38px 0px 45px 0px;
}
.slider__subtitle{
   font-size: 18px;
   font-weight: normal;
   color: var(--signature-color);
}
// --------- about us -----------

.content{
}
.about-us{
   margin: 130px 0px;

   
}
.about-us__container{
   
}
.about-us__row{
   display: flex;
   flex-direction: row;
   justify-content:space-between;
   align-items: flex-start;
   
}
.about-us__photo-box{
   width: 570px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;

}
.photo-box__items{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}
.photo-box__items img{
   width: 270px;
   background: red;
}
.about-us__info{
   margin-left: 60px;
   width: 540px;
}
.info__signature{}
.info__title{}
.info__subtitle{}
.about-us__text{}
.about-us__btn{
   margin-top: 40px;
   color: var(--sociale-links);
}
.about-us__btn:hover{
   color: var(--link-color);
}

// ------------------
// ----------prices sector----------
// ---------------
.prices{
   height: 718px;
   position: relative;
   z-index: 1;
   background-image: url(../img/prices/1200/bg-prices.png);
   padding: 130px 0px;
}
.filter{
   opacity: .6;
   background: var(--prices-bg);
   position: absolute;
   z-index: 2;
   width: 100%;
   height: 100%;
   left: 0px;
   top: 0px;
}
.prices__container{
   position: relative;
   z-index: 3;
}
.prices__signature{
   opacity: .6;
   color: var(--signature-color);
}
div.prices__signature.__decor-line:before{
   border-color: var(--signature-color);
}
.prices__title{
   color: var(--link-color);
   
}
.prices__row{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-top: 40px;
}
.prices__list{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: space-between;
   width: 584px;
   padding: 20px 40px;
}
.prices__list:nth-child(1){
   background:linear-gradient(var(--price-box-bg),rgba(22, 15, 61, 0.2) );
}
.prices__list:nth-child(2){
   background:linear-gradient( var(--price-box-color-dark) 10%, rgba(51, 38, 126, 0.2) );
}
.list__items{
   display: flex;
   flex-direction: row;
   padding: 15px 0px;
   justify-content: space-between;
   font-size: 18px;
   color: var(--signature-color);
}
.items__name{}
.items__decor-line{
   border-bottom: 1px solid var(--signature-color);
   flex-grow: 1;
   opacity: .4;
}
.items__many{
   
}
.prices__btn{
   margin-top: 50px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
// -----------why us ------
// ---------------------------
.why-us{
   margin: 120px 0px;
}
.why-us__container{
}
.why-us__row{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.achievement__container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
   width: 400px;
   margin-right: 65px;
   // padding-top: 40px;
   // border:1px solid green;
}
.achievement__list:nth-child(1){
   
}
.achievement__list:nth-child(2){
   margin-top: 40px;
}
.achievement__list{
}
.achievement__list_items{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 25px 10px;
   margin-top: 30px;
   width: 170px;
   background: var(--body-color);
}
.list__items_numeric{
   font-size: 42px;
   font-weight: 700;
   margin-bottom: 20px;
   color: var(--sociale-links);
}
.list__items_numeric:after{
   content: '+';
   position: absolute;
   font-size: 25px;
   font-weight: 300;
   color:var(--hover-color)
}
.list__items_subtitle{
   line-height: 18px;
   font-size: 14px;
   text-align: center;
   align-items: center;
}
.why-us__info{}
.why-us__signature{}
div.why-us__signature.__decor-line:before{
   border-color:var(--sociale-links);

}
.why-us__title{
   color: var(--sociale-links);
}
.why-us__subtitle{}


